chat-data.json
chat-read.json
history-data.json
lucca-data.json
profile-data.json
remote-status-data.json
status-data.json
users.json
tls/server.key
tls/server.crt
*.log
node_modules/

barui-data.json
chat-images/
profile-images/
.env
